.card_container:not(:last-child) {
  margin-right: 1rem;
}

.listaProdutos_cardimage {
  width: 176px;
  height: 174px;
}

.card_container p {
  margin-top: 0.5rem;
}

.card_nome_produto {
  font-size: var(--tamanho_fonte14);
}

.card_preco_produto {
  font-weight: 700;
}

.card_ver_produto {
  color: var(--cor_azul);
}

@media screen and (max-width: 1024px) {
  .listaProdutos_cardimage {
    width: 164px;
  }
}

@media screen and (max-width: 768px) {
  .listaProdutos_cardimage {
    width: 156px;
  }
}
