.section_novoProduto {
  background-color: var(--fundo_cinza);
  padding: 4rem 0;
}

.novoProduto_container {
  width: 559px;
  margin: auto;
}

.novoProduto_container h2 {
  font-size: 2rem;
}

.novoProduto_cadastro_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.novoProduto_cadastro_container p {
  margin: 0 1rem;
}

.novoProduto_cadastro_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 282px;
  height: 152px;
  background-color: #FFF;
  color: var(--cor_cinza_escuro);
  border: 1px dashed #C8C8C8;
}

.img_icon {
  font-size: 2rem;
  color: #C8C8C8;
}

.novoProduto_form_container {
  display: flex;
  flex-direction: column;
}

.novoProduto_form_container input {
  margin-top: 1rem;
}

.novoProduto_form_container textarea {
  margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
  .section_novoProduto {
    padding: 2rem 0;
  }

  .novoProduto_container {
    width: var(--largura_conteudo2);
    margin: auto;
  }

  .novoProduto_container h2 {
    font-size: var(--tamanho_fonte22);
  }

  .novoProduto_cadastro_container {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .section_novoProduto {
    padding: 1rem 0;
  }

  .novoProduto_container {
    width: var(--largura_conteudo3);
  }

  .novoProduto_cadastro_container {
    width: 100%;
  }

  .novoProduto_cadastro_img {
    width: 100%;
  }

  .novoProduto_ouText {
    display: none;
  }

  .novoProduto_cadastro_container button {
    display: none;
  }
}
