.logo_container{
  display: flex;
  align-items: center;
  color: #000;
}

.header_logoName {
  color: var(--cor_azul);
  margin-left: 2px;
}

@media screen and (max-width: 1024px) { 
  .container_logo {
    width: 22.74px;
  }

  .logo_container p {
    font-size: var(--tamanho_fonte10);
  }
}
