.footer_area {
  background-color: var(--fundo_azul_claro);
  padding: 4rem 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: var(--largura_conteudo1);
  margin: auto;
}

.footer_area li {
  color: var(--cor_cinza_escuro);
}

.footer_area li:not(:first-child) {
  margin-top: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.footer_paragr {
  font-weight: 700;
}

textarea {
  box-sizing: border-box;
  padding: 1rem 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 82px;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  resize: none;
  color: var(--cor_cinza_claro);
  font-weight: 400;
}

.footer_contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.footer_contatos p:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.contatos_nome {
  font-size: 1.1rem;
  font-weight: 700;
}

.contatos_redes_sociais {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 40px;
}

.social_github {
  color: #000;
}

.social_linkedin {
  color: #0A66C2;
}

.social_youtube {
  color: #FF0000;
}

.contatos_redes_sociais a:visited { /* Não esta funcionando */
  font-style: none;
  text-decoration: none;
}
