.footer_area {
  background-color: var(--fundo_azul_claro);
  padding: 4rem 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  width: var(--largura_conteudo1);
  margin: auto;
}

.footer_area li {
  color: var(--cor_cinza_escuro);
}

.footer_area li:not(:first-child) {
  margin-top: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.footer_paragr {
  font-weight: 700;
}

textarea {
  box-sizing: border-box;
  padding: 1rem 0.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 82px;
  border: none;
  border-bottom: 1px solid #C8C8C8;
  resize: none;
  color: var(--cor_cinza_claro);
  font-weight: 400;
}
