.adm_section_container {
  background-color: var(--fundo_cinza);
}

.adm_container {
  width: var(--largura_conteudo1);
  margin: auto;
  padding: 4rem 0;
}

.adm_container h2 {
  font-size: var(--tamanho_fonte22);
  text-align: center;
}

.adm_container h1 {
  font-size: var(--tamanho_fonteh2);
  margin: 1rem 0;
}

.adm_card_container {
  display: grid;
  row-gap: 2rem;
  column-gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  /* Faz com que tenha o mesmo efeito do flex-wrap e tenha o minimo de 340px */
}

@media screen and (max-width: 1024px) {
  .adm_container {
    width: var(--largura_conteudo2);
  }

  .adm_container h2 {
    font-size: var(--tamanho_fonte16);
  }
  
  .adm_container h1 {
    font-size: var(--tamanho_fonte22);
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .adm_container {
    width: var(--largura_conteudo3);
    padding: 1rem 0;
  }
}
