.todosProdutos_section_container {
  width: var(--largura_conteudo1);
  margin: auto;
  padding-bottom: 4rem;
}

.todosProdutos_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 176px);
  /* Tem o mesmo efeito do flex-wrap*/
  column-gap: 1rem;
  row-gap: 4rem;
  justify-content: center;
}

.todosProdutos_categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.todosProdutos_categoria h2 {
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .todosProdutos_section_container {
    width: var(--largura_conteudo2);
  }

  .todosProdutos_container {
    grid-template-columns: repeat(auto-fill, 164px);
    row-gap: 1rem;
  }

  .todosProdutos_categoria h2 {
    font-size: var(--tamanho_fonte22);
  }

  .todosProdutos_section_container {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .todosProdutos_section_container {
    width: var(--largura_conteudo2);
  }

  .todosProdutos_container {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .todosProdutos_categoria {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .todosProdutos_categoria h2 {
    margin-bottom: 1rem;
  }
}
